#home.container-fluid {
  background-image:url('../../assets/img/bg-topo.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
}

body {
  font-family:Ubuntu, sans-serif;
}

p {
  font-weight:300;
}

#home h1, #home p {
  color:#fff;
}

.navbar .btn .btn-light {
  border:3px solid #333;
  border-radius:100px;
  color:#333;
}

#home .btn-info {
  color:#fff;
  border:3px solid #fff;
  border-radius:100px;
  padding:10px 20px;
  text-decoration:none;
  background-color:transparent;
  width:auto;
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

#home .btn-info:hover {
  background-color:#fff;
  border:3px solid #fff;
  border-radius:100px;
  color:rgb(255, 113, 0);
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

#home {
  height:100vh;
  padding-bottom:200px;
  padding-top:240px;
}

@media (max-width: 768px) {
  #home {
    padding-bottom:200px;
    padding-top:160px;
    height:120vh;
  }
}

nav .btn:not(:disabled):not(.disabled) {
  background:#ff0084;
  background:-moz-linear-gradient(left, #ff0084 0%, #ff7100 100%);
  background:-webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%);
  background:linear-gradient(to right, #ff0084 0%,#ff7100 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff7100',GradientType=1 );
  border-radius:20px;
  font-size:inherit;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:.5rem 1rem;
  transition:background-color 0.25s;
  font-size:inherit;
}

#mobile-first {
  margin-top:40px;
}

.margem-t-40 {
  margin-top:40px;
}

.tamanho-paragrafo {
  width:180px;
  margin:10px;
}

@media (min-width: 992px) {
  .box-icon-mobile {
    width:100%!important;
    float:left!important;
  }
}

@media (min-width: 768px) {
  .box-icon-mobile {
    width:50%;
    float:left;
    position:relative;
  }
}

@media (min-width: 768px) {
  .box-icon-mobile {
    width:50%;
    float:left;
    position:relative;
  }
}

@media (min-width: 768px) {
  .tamanho-paragrafo {
    width:50%;
    margin:10px;
  }
}

.navbar.navbar-light.navbar-expand-md.fixed-top.navigation-clean-button {
  border-bottom:1px solid #E9E9E9;
}

#site-em-4-etapas {
  background:#fafafa;
  margin-top:30px;
  padding-top:50px;
  padding-bottom:50px;
}

.etapas-icones {
  text-align:center;
}

.etapas-icones p {
  color:#FF0182;
}

.etapas-icones img {
  margin-bottom:10px;
}

.margem-t-10 {
  margin-top:10px;
}

.container-fluid.beneficios {
  padding-top:100px;
  padding-bottom:100px;
  background:#ff0084;
  background:-moz-linear-gradient(left, #ff0084 0%, #ff7100 100%);
  background:-webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%);
  background:linear-gradient(to right, #ff0084 0%,#ff7100 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff7100',GradientType=1 );
}

.beneficios h2, .beneficios h3 {
  color:#fff;
}

.lista-beneficio ul, .lista-beneficio li, .lista-beneficio {
  color:#fff;
  list-style:none;
  padding-left:0px;
}

.lista-beneficio {
  width:100%;
  margin-top:20px;
  min-height:40px;
}

.lista-beneficio p {
  width:85%;
  float:left;
  margin-left:10px;
}

.lista-beneficio img {
  width:40px;
  float:left;
}

@media (min-width: 300px) {
  .lista-beneficio img {
    width:35px;
    float:left;
  }
}

.beneficios ul {
  padding-left:0px;
}

.descritivo {
  width:70%;
  float:left;
}

.linha-fina {
  font-size:12px;
}

.descritivo p {
  padding-bottom:0px;
  margin-bottom:2px;
  color:#ffffff;
}

.produto {
  padding-bottom:10px;
  border-bottom:1px solid rgba(255,255,255,0.3);
  width:100%;
  float:left;
  margin-top:10px;
}

.btn-info {
  width:30%;
  float:left;
  padding-top:34px;
  padding-left:10px;
  background:transparent;
}

.btn-info:hover {
  background:transparent;
}

.btn-info a {
  color:#fff;
  border:3px solid #fff;
  border-radius:100px;
  padding:10px 20px;
  text-decoration:none;
  background-color:transparent;
  width:100%;
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

.btn-info a:hover {
  color:rgb(255, 113, 0);
  border:3px solid #fff;
  border-radius:100px;
  padding:10px 20px;
  text-decoration:none;
  background-color:#fff;
  width:100%;
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

