#home.container-fluid {
  background-image:url('../../assets/img/bg-topo.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
}

body {
  font-family:Ubuntu, sans-serif;
}

p {
  font-weight:300;
}

#home h1, #home p {
  color:#fff;
}

.navbar .btn .btn-light {
  border:3px solid #333;
  border-radius:100px;
  color:#333;
}

#home .btn-info {
  color:#fff;
  border:3px solid #fff;
  border-radius:100px;
  padding:10px 20px;
  text-decoration:none;
  background-color:transparent;
  width:auto;
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

#home .btn-info:hover {
  background-color:#fff;
  border:3px solid #fff;
  border-radius:100px;
  color:rgb(255, 113, 0);
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

#home .btn-info:focus {
  outline: unset !important;
}

#home .btn-info a:focus {
  outline: unset !important;
}

#home {
  height:100vh;
  padding-bottom:200px;
  padding-top:240px;
}

@media (max-width: 768px) {
  #home {
    padding-bottom:200px;
    padding-top:160px;
    height:120vh;
  }
}

nav .btn:not(:disabled):not(.disabled) {
  background:#ff0084;
  background:-moz-linear-gradient(left, #ff0084 0%, #ff7100 100%);
  background:-webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%);
  background:linear-gradient(to right, #ff0084 0%,#ff7100 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff7100',GradientType=1 );
  border-radius:20px;
  font-size:inherit;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:.5rem 1rem;
  transition:background-color 0.25s;
  font-size:inherit;
}

#mobile-first {
  margin-top:40px;
}

.margem-t-40 {
  margin-top:40px;
}

.tamanho-paragrafo {
  width:180px;
  margin:10px;
}

@media (min-width: 992px) {
  .box-icon-mobile {
    width:100%!important;
    float:left!important;
  }
}

@media (min-width: 768px) {
  .box-icon-mobile {
    width:50%;
    float:left;
    position:relative;
  }
}

@media (min-width: 768px) {
  .box-icon-mobile {
    width:50%;
    float:left;
    position:relative;
  }
}

@media (min-width: 768px) {
  .tamanho-paragrafo {
    width:50%;
    margin:10px;
  }
}

.navbar.navbar-light.navbar-expand-md.fixed-top.navigation-clean-button {
  border-bottom:1px solid #E9E9E9;
}

#site-em-4-etapas {
  background:#fafafa;
  margin-top:30px;
  padding-top:50px;
  padding-bottom:50px;
}

.etapas-icones {
  text-align:center;
}

.etapas-icones p {
  color:#FF0182;
}

.etapas-icones img {
  margin-bottom:10px;
}

.margem-t-10 {
  margin-top:10px;
}

.container-fluid.beneficios {
  padding-top:100px;
  padding-bottom:100px;
  background:#ff0084;
  background:-moz-linear-gradient(left, #ff0084 0%, #ff7100 100%);
  background:-webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%);
  background:linear-gradient(to right, #ff0084 0%,#ff7100 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff7100',GradientType=1 );
}

.beneficios h2, .beneficios h3 {
  color:#fff;
}

.lista-beneficio ul, .lista-beneficio li, .lista-beneficio {
  color:#fff;
  list-style:none;
  padding-left:0px;
}

.lista-beneficio {
  width:100%;
  margin-top:20px;
  min-height:40px;
}

.lista-beneficio p {
  width:85%;
  float:left;
  margin-left:10px;
}

.lista-beneficio img {
  width:40px;
  float:left;
}

@media (min-width: 300px) {
  .lista-beneficio img {
    width:35px;
    float:left;
  }
}

.beneficios ul {
  padding-left:0px;
}

.descritivo {
  width:60%;
  float:left;
}

.linha-fina {
  font-size:12px;
}

.descritivo p {
  padding-bottom:0px;
  margin-bottom:2px;
  color:#ffffff;
}

.produto {
  padding-bottom:10px;
  border-bottom:1px solid rgba(255,255,255,0.3);
  width:100%;
  float:left;
  margin-top:10px;
}

.btn-info {
  width:40%;
  float:left;
  padding-top:34px;
  padding-left:10px;
  background:transparent;
}

.btn-info:hover {
  background:transparent;
}

.btn-info a {
  color:#fff;
  border:3px solid #fff;
  border-radius:100px;
  padding:10px 20px;
  text-decoration:none;
  background-color:transparent;
  width:100%;
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

.btn-info a:hover {
  color:rgb(255, 113, 0);
  border:3px solid #fff;
  border-radius:100px;
  padding:10px 20px;
  text-decoration:none;
  background-color:#fff;
  width:100%;
  -webkit-transition:background 500ms ease-in-out;
  -moz-transition:background 500ms ease-in-out;
  -ms-transition:background 500ms ease-in-out;
  -o-transition:background 500ms ease-in-out;
  transition:background 500ms ease-in-out;
}

.webspresso-btn {
  background: #ff0084;
  background: -moz-linear-gradient(left, #ff0084 0%, #ff7100 100%);
  background: -webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%);
  background: linear-gradient(to right, #ff0084 0%,#ff7100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff7100',GradientType=1 );
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
  min-width: 300px;
}

.webspresso-btn:hover {
  background: #FF6F02;
  transition: background-color 0.25s;

  background: #ff7100;
  background: -moz-linear-gradient(left, #ff7100 0%, #ff7100 100%);
  background: -webkit-linear-gradient(left, #ff7100 0%,#ff7100 100%);
  background: linear-gradient(to right, #ff7100 0%,#ff7100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7100', endColorstr='#ff7100',GradientType=1 );

}

.fade {
  background-color: rgba(0,0,0, 0.8);
}

.modal-dialog {
  margin-top: 50px;
}

@media (min-width: 801px) {
  .modal-dialog {
    max-width: 700px;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
  margin-top: 20px;
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  text-shadow: unset;
}

.close:hover {
  color: #888;
}

.close:focus {
  outline: none !important;
}

.modal-header {
  border-bottom: 0;
  width: 90%;
  margin: auto;
}

.modal-footer {
  border-top: 0;
}

.modal .modal-title{
  color: #fff;
  width: 100%;
  text-align: center;
  display: none;
}

.modal-content {
  background-color: transparent;
}

.webspresso-input {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 10px;
}

form p:last-of-type  {
  text-align: center;
}

form p:last-of-type{
  margin-top: 60px;
}

.captcha div {
  margin: auto;
}

.btn-info.focus, .btn-info:focus {
  box-shadow: unset;
  outline: none;
}

/* --------------- FORM RD -- BLOG --------------- */

#webspresso-blog-514ee855dd101bc536f3 #conversion-webspresso-blog-514ee855dd101bc536f3 header {
  background-color: transparent !important;
}

#webspresso-blog-514ee855dd101bc536f3 #form-container-webspresso-blog-514ee855dd101bc536f3 #conversion-webspresso-blog-514ee855dd101bc536f3 header h1 {
  color: #fff !important;
}

#webspresso-blog-514ee855dd101bc536f3 #conversion-webspresso-blog-514ee855dd101bc536f3 {
  background-color: transparent !important;
}

#form-container-webspresso-blog-514ee855dd101bc536f3 #conversion-webspresso-blog-514ee855dd101bc536f3 {
  background-color: transparent !important;
}

#webspresso-blog-514ee855dd101bc536f3 #conversion-webspresso-blog-514ee855dd101bc536f3 form label {
  color: #fff !important;
}

#form-container-webspresso-blog-514ee855dd101bc536f3 #conversion-webspresso-blog-514ee855dd101bc536f3 #conversion-form-webspresso-blog-514ee855dd101bc536f3 div.actions input.call_button {
  background: #ff0084 !important;
  background: -moz-linear-gradient(left, #ff0084 0%, #ff7100 100%) !important;
  background: -webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%) !important;
  background: linear-gradient(to right, #ff0084 0%,#ff7100 100%) !important;
  border-radius: 70px !important;
  border: none !important;
}

#form-container-webspresso-blog-514ee855dd101bc536f3 #conversion-webspresso-blog-514ee855dd101bc536f3 #conversion-form-webspresso-blog-514ee855dd101bc536f3 div.actions input.call_button:hover {
  background: #ff7100 !important;
}

/* ------------- FIM FORM RD ---------------- */

/* AJUSTES FORM RD WEBSITE */
#form-container-webspresso-4069b23d51b771751da9 #conversion-webspresso-4069b23d51b771751da9 header {
  background-color: transparent !important;
}
#form-container-webspresso-4069b23d51b771751da9 #conversion-webspresso-4069b23d51b771751da9 header h1 {
  color: #fff !important;
}
#form-container-webspresso-4069b23d51b771751da9 #conversion-webspresso-4069b23d51b771751da9 header h2 {
  color: #fff !important;
}
div#conversion-webspresso-4069b23d51b771751da9 {
  background-color: transparent !important;
}
#form-container-webspresso-4069b23d51b771751da9 #conversion-webspresso-4069b23d51b771751da9 form label, #conversion-webspresso-4069b23d51b771751da9 form p.notice, #conversion-webspresso-4069b23d51b771751da9 form p.notice a{
  color: #fff !important;
}

#form-container-webspresso-4069b23d51b771751da9 #conversion-webspresso-4069b23d51b771751da9 #conversion-form-webspresso-4069b23d51b771751da9 div.actions input.call_button {
  background: #ff0084 !important;
  background: -moz-linear-gradient(left, #ff0084 0%, #ff7100 100%) !important;
  background: -webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%) !important;
  background: linear-gradient(to right, #ff0084 0%,#ff7100 100%) !important;
  border-radius: 70px !important;
  border: none !important;
}

#form-container-webspresso-4069b23d51b771751da9 #conversion-webspresso-4069b23d51b771751da9 #conversion-form-webspresso-4069b23d51b771751da9 div.actions input.call_button:hover {
  background: #ff7100 !important;
}

/* FIM AJUSTES FORM RD WEBSITE */

/* MATERIAIS DIGITAIS */

#webspresso-posts-060da9372a185062f0a7 #form-container-webspresso-posts-060da9372a185062f0a7 #conversion-webspresso-posts-060da9372a185062f0a7 header {
  background-color: transparent !important;
}

#webspresso-posts-060da9372a185062f0a7 #form-container-webspresso-posts-060da9372a185062f0a7 #conversion-webspresso-posts-060da9372a185062f0a7 header h1 {
  color: #fff !important;
}

#webspresso-posts-060da9372a185062f0a7 #form-container-webspresso-posts-060da9372a185062f0a7 #conversion-webspresso-posts-060da9372a185062f0a7 header h2 {
  color: #fff !important;
}

#webspresso-posts-060da9372a185062f0a7 #form-container-webspresso-posts-060da9372a185062f0a7 #conversion-webspresso-posts-060da9372a185062f0a7 {
  background-color: transparent !important;
}

#webspresso-posts-060da9372a185062f0a7  #conversion-webspresso-posts-060da9372a185062f0a7 form label, #conversion-webspresso-posts-060da9372a185062f0a7 form p.notice, #conversion-webspresso-posts-060da9372a185062f0a7 form p.notice a {
  color: #fff !important;
}

#webspresso-posts-060da9372a185062f0a7 #form-container-webspresso-posts-060da9372a185062f0a7 #conversion-webspresso-posts-060da9372a185062f0a7 #conversion-form-webspresso-posts-060da9372a185062f0a7 div.actions input.call_button {
  background: #ff0084 !important;
  background: -moz-linear-gradient(left, #ff0084 0%, #ff7100 100%) !important;
  background: -webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%) !important;
  background: linear-gradient(to right, #ff0084 0%,#ff7100 100%) !important;
  border-radius: 70px !important;
  border: none !important;
}

#webspresso-posts-060da9372a185062f0a7 #form-container-webspresso-posts-060da9372a185062f0a7 #conversion-webspresso-posts-060da9372a185062f0a7 #conversion-form-webspresso-posts-060da9372a185062f0a7 div.actions input.call_button:hover {
  background: #ff7100 !important;
}

/* FIM MATERIAIS DIGITAIS */

/* MODAL ESPECIALISTA */

#webspresso-contato-28663cb18b3098a1fe8b #form-container-webspresso-contato-28663cb18b3098a1fe8b #conversion-webspresso-contato-28663cb18b3098a1fe8b header {
  background-color: transparent !important;
}

#webspresso-contato-28663cb18b3098a1fe8b #form-container-webspresso-contato-28663cb18b3098a1fe8b #conversion-webspresso-contato-28663cb18b3098a1fe8b header h1 {
  color: #fff !important;
}

#webspresso-contato-28663cb18b3098a1fe8b #form-container-webspresso-contato-28663cb18b3098a1fe8b #conversion-webspresso-contato-28663cb18b3098a1fe8b header h2 {
  color: #fff !important;
}

#webspresso-contato-28663cb18b3098a1fe8b #form-container-webspresso-contato-28663cb18b3098a1fe8b #conversion-webspresso-contato-28663cb18b3098a1fe8b {
  background-color: transparent !important;
}

#webspresso-contato-28663cb18b3098a1fe8b #conversion-webspresso-contato-28663cb18b3098a1fe8b form label, #conversion-webspresso-contato-28663cb18b3098a1fe8b form p.notice, #conversion-webspresso-contato-28663cb18b3098a1fe8b form p.notice a {
  color: #fff !important;
}

#webspresso-contato-28663cb18b3098a1fe8b #form-container-webspresso-contato-28663cb18b3098a1fe8b #conversion-webspresso-contato-28663cb18b3098a1fe8b #conversion-form-webspresso-contato-28663cb18b3098a1fe8b div.actions input.call_button {
  background: #ff0084 !important;
  background: -moz-linear-gradient(left, #ff0084 0%, #ff7100 100%) !important;
  background: -webkit-linear-gradient(left, #ff0084 0%,#ff7100 100%) !important;
  background: linear-gradient(to right, #ff0084 0%,#ff7100 100%) !important;
  border-radius: 70px !important;
  border: none !important;
}

#webspresso-contato-28663cb18b3098a1fe8b #form-container-webspresso-contato-28663cb18b3098a1fe8b #conversion-webspresso-contato-28663cb18b3098a1fe8b #conversion-form-webspresso-contato-28663cb18b3098a1fe8b div.actions input.call_button:hover {
  background: #ff7100 !important;
}

/* FIM MODAL ESPECIALISTA */